<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>IT ACADEMY</h1>
    <h2>Entrer votre pseudo</h2>
    <form action="/enregistrer" method="POST">
        <input type="text" name='pseudo' value="" />
        <input type="submit" name='save' value='sauver'/><br/>
    </form>
</body>
</html>